/* .footer {
    /* position: absolute;
    bottom: 0;
    width: 100%;
    set fixed height
    height: 60px; 
    line-height: 60px;
    background-color: rgb(90,90,90);
    text-align: center;
    border-top: 5px solid rgb(74,170,165); 
  } */

  /* .my-navbar-custom .nav-item .nav-link ,
  .my-navbar-customer .nav-item:hover .nav-link {
    color: black;
  } */
  
body {
  background-image: url("../assets/ignasi_pattern_s.png");
  background-attachment: fixed;
  background-repeat: repeat;
  font-family:"Georgia", serif;
  
}
  .navbar-brand{
    background-color: rgb(74, 170, 165);
    color: white !important;
    font-family: "Times New Roman", Times, serif;
  }

 .navbar-nav.ml-auto li a {
    color: lightgray;
  }

  section {
    padding-top: 75px;
    margin-left: 20px;

  }
  
  .col-md-8 {
    border: 1px solid black;
    background-color: white;
  }
 
 section img {
   /* float: left !important; */
   padding-bottom: 30px;
   padding-left: 10px;
   padding-right: 20px;
 }

 /* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: rgb(90,90,90);
  border-top: 5px solid rgb(74,170,165); 
  text-align: center;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}


#form 
{
  background-color: white;
  width: 33.3%;
  margin: 50px;
  padding-bottom: 50px;

}
.form-row , form h1{
  padding: 20px 20px 0 20px;
  /* padding-top: 20px;
  padding-left: 20px; */
}

#form-header {
  color: rgb(74,170,165);
  
  font-weight: bold;
  font-size: 42px;
}

#form-header:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 100%;
  border-bottom: 2px solid rgb(241, 241, 241);
  padding-top: 20px;
}


  .btn-primary{
    background-color: rgb(74,170,165);
    border-color: rgb(74,170,165);
    border-radius: 0px;
    padding: 15px 35px;
  }
  .form-control {
    border-radius: 0;
  }

 #img-gallery {
   margin-right: 400px ;
 } 
#gallery-header{
  padding-left: 20px;
  color: rgb(74,170,165);

}

#img-gallery p:after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 2px solid rgb(241, 241, 241);
  padding-top: 20px;
}
.row {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
  }